<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<%# このcurrent_userってのが名前付きルーティングになっているはずなんだけど，どこで設定したなんのルーティングなのかがわからない．　%>
<%# http://localhost:3000/users/1　にリダイレクトされた． %>
<%# user_pathメソッドが省略されているためこうなった．current_userメソッドの戻り値がユーザーの情報だから，user_path(@user)と同じような感じ． %>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>

